h1 {
    color: var(--light)
}

body {
    background-color: var(--dark);
    color: var(--white);
}
/* This is the "About Me/Contact Me" Section in the body  */
.info, p {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* controls the nav bar */
nav {
    color: var(--medium);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

}
/* controls the list within the nav bar */
nav > ul {
    display: flex;
    list-style: none;
}
/* controls the individual items in the list */
nav > ul > li {
    margin-right: 40px;
}
/* Placeholder for an image of me */
main > img {
    width: 500px;
    box-shadow: 10px 10px black;
}
/* this is the "About Me/Contact Me flex box formatting */
main > div{
    display: flex;
    flex-grow: 1;
}
