h1 {
    color: var(--medium)
}
h2 {
    color: var(--darkest)
}
p {
    color: var(--white);
}

body {
    background-color: var(--dark);
    color: var(--white);
}
/* This is the "About Me/Contact Me" Section in the body  */

/* main sections */
main {
    display: flex;
    flex-direction: column;
}

.info, .AboutMeParagraph {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* controls the nav bar */
nav {
    color: var(--medium);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

}
/* controls the list within the nav bar */
nav > ul {
    display: flex;
    list-style: none;
}
/* controls the individual items in the list */
nav > ul > li {
    margin-right: 40px;
}
/* section containing about me and contact me */
#AboutMe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
    float: center;
}
/* allows the linked in link to have color other than blue */
a {
    color: var(--white);
    text-decoration: none;
}
/* Image of me */
.erna {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px 10px rgb(31, 30, 30);
    float: left;
    order: 1;
    object-fit: cover;

}
/* summary of projects */
#summary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20%;
    text-align: center;

}
.FeaturedImg {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.Project12 {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
}

.Project34 {
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
}

.projectImg {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
    padding: 10px;
    margin: 5%;
    
}
@media (max-width: 414px) {
    .info, .erna, .FeaturedImg, .projectImg,{
        min-width: 50%;
        flex-wrap: wrap;
        text-align: center;
        margin: 25%
    }
}
@media (max-width: 414px) {
    .info, .erna {
        width: 250px;
        height: 250px;
        flex-wrap: wrap;
        text-align: center;
    }
}

/* @media (max-width: 480px) and (orientation:portrait) {
    body {
        background-color: red;
    }
}  */