h1 {
    color: var(--light)
}

body {
    background-color: var(--dark);
    color: var(--white);
}
/* This is the "About Me/Contact Me" Section in the body  */

/* main sections */
main {
    display: flex;
    flex-direction: column;
}

.info, p {
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* controls the nav bar */
nav {
    color: var(--medium);
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

}
/* controls the list within the nav bar */
nav > ul {
    display: flex;
    list-style: none;
}
/* controls the individual items in the list */
nav > ul > li {
    margin-right: 40px;
}
/* section containing about me and contact me */
#AboutMe {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 0;
    order: 1;
}
/* allows the linked in link to have color other than blue */
a {
    color: var(--white);
    text-decoration: none;
}
/* Image of me */
.erna {
    width: 500px;
    border-radius: 25px;
    box-shadow: 10px 10px rgb(31, 30, 30);
    display: flex;
    float: left;

}
/* summary of projects */
.summary {
    display: flex;
    order: 2;
    flex: wrap;
    flex-direction: row;
}
